{% extends "base.html" %}
{% block title %}Bill of Materials {% endblock %}
{% block body %}
    <h1>Bill of Materials</h1>

    <h2>Equipment</h2>
    <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Type</th>
                <th>Part</th>
                <th>Used</th>
            </tr>
       </thead>
        {% for node in nodes -%}
            <tr>
                <td>{{node['uses']|length}}</td>
                <td>{{node['type']}}</td>
                <td>{{node['model']}}</td>
                <td>{{node['supplier']}}</td>
                <td>{{node['uses']|sort|join(", ")}}</td>
            </tr>
        {% endfor -%}
    </table>
    <h2>Cables</h2>
    <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Rating</th>
                <th>Phases</th>
                <th>Length</th>
                <th>Used</th>
            </tr>
        </thead>
        {% for type, used in edges|dictsort -%}
            <tr>
                <td>{{used|length}}</td>
                <td>{{type[0]}}A</td>
                <td>{{type[1]}}</td>
                <td>{{type[2]}}m</td>
                <td>{{used|sort|join(", ")}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
